body {
    background-color: rgb(47, 49, 54);
    color: white;
}

input {
    background-color: rgb(69, 72, 79);
}

textarea {
    background-color: rgb(69, 72, 79);
}

select {
    background-color: rgb(69, 72, 79);
    color: white;
}

input[name="list"] {
    color: white;
}

input[name="create"] {
    background-color: red;
    box-shadow: 2px 2px black;
}

#list {
    background-color: rgb(47, 49, 54);
}

.close {
    background-color: black;
    color: white;
}

.color {
    color: white;
}

.red::-webkit-input-placeholder {
    color: white;
}