body {
    background-color: white;
    color: black;
}

input {
    background-color: white;
}

textarea {
    background-color: white;
}

select {
    background-color: white;
    color: black;
}

input[name="list"] {
    color: black;
}

#list {
    background-color: white;
}

.close {
    background-color: black;
    color: white;
}

.color {
    color: black;
}

.red::-webkit-input-placeholder {
    color: black;
}

input[name="create"] {
    background-color: red;
    box-shadow: 2px 2px black;
}